/* src/styles/main.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home {
  height: 100vh;
  background: url("/src/assets/home.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.btn-primary {
  margin-top: 1rem;
  padding: 10px 20px;
  background: #ff7a18;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
